<form class="border text-center col-4 mt-5 mx-auto  shadow-lg rounded">
  <h3 class="display-5 mt-3">Guest, thanks for choosing us!</h3>
  <h5 class="display-5 mt-5">Check out please</h3>
  <button type="submit" class="btn btn-primary mt-3 mb-3">Room number</button>
</form>