<form class="text-center">
<h4 class="display-5 mt-5 mb-5 font-italic">Check local activities</h3>
<!--Slideshow Section --> 
<section id="slideshow">
      <div class="entire-content">
        <div class="content-carrousel">
          <figure class="shadow">
            <a href="https://www.google.com/maps/search/?api=1&query=restaurants+seattle+wa">
            <img src="./img/restaurant.webp"/>
            </a>
          </figure>
          <figure class="shadow">
            <a href="https://www.google.com/maps/search/?api=1&query=theathes+seattle+wa">
            <img src="./img/cinema.jpeg"/>
            </a>
          </figure>
          <figure class="shadow">
            <a href="https://www.google.com/maps/search/?api=1&query=museum+seattle+wa">
            <img src="./img/museum.jpeg"/>
            </a>
          </figure>
          <figure class="shadow">
            <a href="https://www.google.com/maps/search/?api=1&query=park+seattle+wa">
            <img src="./img/park.jpeg"/>
            </a>
          </figure>
          <figure class="shadow">
            <a href="https://www.google.com/maps/search/?api=1&query=mall+seattle+wa">
            <img src="./img/mall.jpeg"/>
            </a>
          </figure>
          <figure class="shadow">
            <a href="https://www.google.com/maps/search/?api=1&query=library+seattle+wa">
            <img src="./img/library.jpeg"/>
            </a>
          </figure>
          <figure class="shadow">
            <a href="https://www.google.com/maps/search/?api=1&query=gym+seattle+wa">
            <img src="./img/gym.jpg"/>
            </a>
          </figure>
            <figure class="shadow">
                <a href="https://www.google.com/maps/search/?api=1&query=coffee+seattle+wa">
                <img src="./img/coffee.jpeg"/>
                </a>
          </figure>
          <figure class="shadow">
            <a href="https://www.google.com/maps/search/?api=1&query=SPA+seattle+wa">
            <img src="./img/spa.jpeg"/>
            </a>
            </figure>
    </div>
  </div>
</section>
</form>
